.lang-switch {
    border: 1px solid dimgray;
    left: 0;
    position: fixed;
    top: 80px;
}

.lang-switch > div {
    background: white;
    color: dimgray;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    width: 30px;
}

.lang-switch > div.active {
    background: dimgray;
    color: white;
}